.container {
  width: 200px;
  margin: 0 auto;
}
.wrapper-form {
  margin-bottom: 20px;
}
.label {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
}
.submit-btn {
  padding: 5px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: green;
  color: aliceblue;
  border: none;
}
.print-btn {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: blue;
  color: aliceblue;
  border: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}
.close-btn {
  background-color: inherit;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
}
.text {
  margin-left: 10px;
}
