.container {
  width: 250px;
  margin: 0 auto;
}
.wrapper-form {
  margin-bottom: 20px;
}
.label {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
}
.input-text {
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid orange;
  outline: none;
  background-color: inherit;
}
.input-text:focus {
  border-color: green;
}
.submit-btn {
  padding: 5px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: green;
  color: aliceblue;
  border: none;
}
.print-btn {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: blue;
  color: aliceblue;
  border: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
}
.close-btn {
  background-color: inherit;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
}
.text {
  margin-left: 10px;
}
.delete-modal {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
}
.button-modal-del {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: #fff;
}

.button-modal-cancel {
  background-color: cadetblue;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  color: #fff;
}

.done {
  background-color: darkseagreen;
  color: #fff;
}

.need {
  background-color: honeydew;
  color: green;
}

.loading-modal {
  background-color: aqua;
  padding: 20px;
  color: blueviolet;
  font-size: 50px;
  border-radius: 20px;
}
